.interactions{
    text-align: center;
    width: 90%;
    float: right;
}

.divider{
    position: fixed;
    left:55%;
    top:10%;
    bottom:10%;
    border-left:1px solid #7a7a7a;
}

.leftitem {
    position: absolute;
    width: 50%;
    left:5%;
}

.rightitem {
    position: absolute;
    width: 50%;
    left: 50%;
}

.card_list {
    margin: 20px 0;
    align-items: flex-start;
    display: grid ;
    grid-template-columns: 175px 175px 175px 175px;
    align-items: center;
}

.card_list_empty {
    margin : 200px;
    text-align: center;
    font-size:16px;
    align-items: inherit;
}

.card_list_item {
    margin: 20px 10px;
    height: 200px;
    width: 120px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(50, 50, 50);
    border-radius: 5px;
    transition: 0.3s;
    line-height: 20px;
    padding:10px;
}

.card_list_title {
    width: 120px;
    white-space: normal; 
    word-wrap: normal;
    text-align: center;
}

.card_list_item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #323232;
    color: #ddd;
}

