body {
  font-size: 14px ;
  font-family: 'Baloo Thambi 2', sans-serif;
  background: #f4f4f4;
  color: #222;
}
  
a{
  color: blue;
}

a:hover {
  text-decoration:underline;
}


input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-family: 'Baloo Thambi 2', sans-serif;
  border: 1px solid #dddddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: 	#222;
  color : #dddddd;
  cursor : pointer;
}

button:hover {
  background-color: #dddddd;
  color : #222;
}

